[submodule "dep/fmt"]
	path = dep/fmt
	url = https://github.com/fmtlib/fmt
[submodule "dep/sunday_cmake_presets"]
	path = dep/sunday_cmake_presets
	url = https://github.com/Sunday111/sunday_cmake_presets
